.audioContainer {
  margin-bottom: 10pt;
}

.microphone {
  cursor: pointer;
}

.menuMicorphone {
  cursor: pointer;
  animation: flash 0.8s ease-in-out infinite; 
}

@keyframes blink{
0%{opacity: 0;}
25%{opacity: 0.25;color: #1e2440;}
50%{opacity: .5;color: #1e2440;}
75%{opacity: 0.75;color: #1e2440;}
100%{opacity: 1;color: #1e2440;}
}

@keyframes flash{
0%{opacity: 0;}
25%{opacity: 0.25;color: #fff;}
50%{opacity: .5;color: #fff;}
75%{opacity: 0.75;color: #fff;}
100%{opacity: 1;color: #fff;}
}