.navbar {
	border-radius: 0;
}

nav a {
	color: white !important;
}

nav a:visited {
	color: white !important;
}

footer {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	color: #434343;
	background-color: #eeeeee;
	border-top: 2px solid #213254;
	margin-top: 30pt;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
	float: none;
}

footer li {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	float: none;
	border-radius: 6px;
}

footer .footerMenu {
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 30px;
	padding-top: 30px;

}

footer .footerMenu a {
	color: #213254;
	font-size: 12pt;
}

footer .footerMenu a:hover {
	text-decoration: none;
}

footer li:hover {
	color: #fff;
	background-color: #213254;
}

footer .footerMenu li:hover a{
	color: #fff;
}