{% extends 'television/base.html' %}

{% block title %}Television Module{% endblock %}

{% block content_title %}{{ remote }}{% endblock %}

{% block voiceRecognizer %}onload="startConverting()"{% endblock %}

{% block crumbs %}
    &rsaquo; <a href="{% url 'television:index' %}">Television</a>
    &rsaquo; <a href="{% url 'television:brands' %}">Brands</a>
    &rsaquo; <a href="{% url 'television:remote-models' slug=remote.brand.slug %}">{{ remote.brand.name }} Remote Models</a>
    &rsaquo; <a href="{% url 'television:remote-detail' slug=remote.slug %}">{{ remote.model }}</a>
    &rsaquo; <a href="{% url 'television:remote-area' slug=remote.slug %}">Operate</a>
{% endblock %}

{% block content %}
	{% include 'television/messages.html' %}
	<div class="container">
	  <div class="remote-body">
	    <div class="remote-screen">
	      <div id="remote-typed"></div>
	    </div>
	    <div class="remote-button-row">
	      <div class="button c" onclick="buttonClicked('on')">ON</div>
	      <div class="button c" onclick="buttonClicked('off')">OFF</div>
	      <div class="button l" onclick="buttonClicked('mute')"><span class="glyphicon glyphicon-volume-off"></span></div>
	      <div class="button l" onclick="buttonClicked('ch+')">Ch+</div>
	    </div>
	    <div class="remote-button-row">
	      <div class="button" onclick="buttonClicked('1')">1</div>
	      <div class="button" onclick="buttonClicked('2')">2</div>
	      <div class="button" onclick="buttonClicked('3')">3</div>
	      <div class="button l" onclick="buttonClicked('ch-')">Ch-</div>
	    </div>
	    <div class="remote-button-row">
	      <div class="button" onclick="buttonClicked('4')">4</div>
	      <div class="button" onclick="buttonClicked('5')">5</div>
	      <div class="button" onclick="buttonClicked('6')">6</div>
	      <div class="button l" onclick="buttonClicked('vol+')">Vol+</div>
	    </div>
	    <div class="remote-button-row">
	      <div class="button" onclick="buttonClicked('7')">7</div>
	      <div class="button" onclick="buttonClicked('8')">8</div>
	      <div class="button" onclick="buttonClicked('9')">9</div>
	      <div class="button l" onclick="buttonClicked('vol-')">Vol-</div>
	    </div>
	  </div>
	</div>
{% endblock %}