{% extends 'mobile/base.html' %}

{% block title %}New Contact{% endblock %}

{% block content_title %}New Contact{% endblock %}

{% block voiceRecognizer %}onload="startConvertingFormData()"{% endblock %}

{% block crumbs %}
    &rsaquo; <a href="{% url 'mobile:index' %}">Mobile</a>
    &rsaquo; <a href="{% url 'mobile:all-contacts' %}">Contacts</a>
	&rsaquo; Add contact</a>
{% endblock %}


{% block content %}
	{% include 'mobile/messages.html' %}
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{% include 'mobile/form_template.html' %}
		<button type="submit" class="btn btn-success quarterWidth" id="submitBtn"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp; Add Contact</button>
	</form>
{% endblock %}