<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load staticfiles %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
                
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Merienda+One|Montserrat|PT+Sans|Sanchez" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'mobile/css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'audiosystem/css/audiobox.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'mobile/css/forms.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'mobile/css/keyboard.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'mobile/css/callModal.css' %}">
        {% block extrahead %}{% endblock %}
    </head>

    <body {% block voiceRecognizer %}{% endblock %}>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">Homemaker Assistance System</a>
                </div>

                <div class="collapse navbar-collapse" id="navBar">
                    <ul class="nav navbar-nav">
                        <li><i class="fa fa-microphone fa-3x menuMicorphone"></i></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="">Demo</a></li>
                        <li><a href="">Help</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block breadcrumbs %}
            <div class="breadcrumbs">
                <a href="{% url 'home' %}">Home</a>
                {% block crumbs %}
                {% endblock %}
            </div>
        {% endblock %}

        <div id="callModal" class="modal">
            {% include 'mobile/call_modal.html' %}
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="panel">
                    <div class="panel-heading">      
                        <h3 class="text-center">{% block content_title %}{% endblock %}</h3>
                        <hr>
                    </div>
                    <div class="panel-body">
                        {% include 'mobile/messages.html' %}
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <footer class="container-fluid">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12 footerMenu">
                        <h4 class="text-center"><b>Links</b></h4>
                        <ul>
                            <li>
                                <a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span>&nbsp; Home</a>
                            </li>
                            <li>
                                <a href="{% url 'mobile:call-select-contact' %}"><span class="glyphicon glyphicon-earphone"></span>&nbsp; Call</a>
                            </li>
                            <li>
                                <a href="{% url 'mobile:message-select-contact' %}"><i class="fa fa-comments" aria-hidden="true"></i>&nbsp; Message</a>
                            </li>
                        </ul>
                    </div>
                </div>  
            </div>
        </footer>
        <script type="text/javascript" src="{% static 'audiosystem/js/tts.js' %}"></script>
        <script type="text/javascript" src="{% static 'audiosystem/js/ttsForm.js' %}"></script>
        <script type="text/javascript" src="{% static 'audiosystem/js/select_contacts.js' %}"></script>
        <script type="text/javascript" src="{% static 'audiosystem/js/confirmations.js' %}"></script>
        <script type="text/javascript" src="{% static 'mobile/js/keyboard.js' %}"></script>
        <script type="text/javascript" src="{% static 'mobile/js/call.js' %}"></script>
    </body>
</html>
