<div class='call'>
  <header>
    <h1>
      Incoming Call
    </h1>
  </header>
  <main>
    <div class='user'>
      <div class='user-photo'>
        <div class='user-photo__wrap'>
          <img id="userPic" src=''>
        </div>
      </div>
      <div id='user-name'>
      	
      </div>
    </div>
    <div class='status'>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle last'></div>
    </div>
    <div class='buttons'>
      <div class='col text-center'>
        <a id="abortBtn" href=''><button class="btn btn-danger">Abort</button></a>
      </div>
      <div class='col'>
        <a id="declineBtn" href=''><button class="btn btn-danger">Decline</button></a>
      </div>
      <div class='col'>
        <a id="acceptBtn" href=''><button class="btn btn-success">Accept</button></a>
      </div>
    </div>
  </main>
</div>
