{% extends 'mobile/base.html' %}

{% block title %}Edit Contact{% endblock %}

{% block content_title %}Edit Contact{% endblock %}

{% block content %}
	{% include 'mobile/messages.html' %}
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{% include 'mobile/form_template.html' %}
		<button type="submit" class="btn btn-success quarterWidth"><span class="glyphicon glyphicon-upload"></span>&nbsp; Save</button>
		<form action="{% url 'mobile:delete-contact' contact.slug %}" method="get">
			{% csrf_token %}
			<input type="hidden" name="contact_id" value="{{ contactID }}">
			<button type="submit" class="btn btn-danger quarterWidth"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</button>
		</form>
	</form>
{% endblock %}