	<div class="keyboard-body">
	    <div class="keyboard-screen">
	      <div id="keyboard-typed"></div>
	    </div>
	    <div class="keyboard-button-row">
	      <div class="button" onclick="buttonClicked('1')">1</div>
	      <div class="button" onclick="buttonClicked('2')">2</div>
	      <div class="button" onclick="buttonClicked('3')">3</div>
	    </div>
	    <div class="keyboard-button-row">
	      <div class="button" onclick="buttonClicked('4')">4</div>
	      <div class="button" onclick="buttonClicked('5')">5</div>
	      <div class="button" onclick="buttonClicked('6')">6</div>
	    </div>
	    <div class="keyboard-button-row">
	      <div class="button" onclick="buttonClicked('7')">7</div>
	      <div class="button" onclick="buttonClicked('8')">8</div>
	      <div class="button" onclick="buttonClicked('9')">9</div>
	    </div>
	    <div class="keyboard-button-row">
	      <div class="button" onclick="buttonClicked('+')">+</div>
	      <div class="button" onclick="buttonClicked('0')">0</div>
	      <div class="button" onclick="buttonClicked('clear')"><</div>
	    </div>
	    <div class="keyboard-button-row">
	      <div class="callbutton" onclick="make_call()">Call</div>
	    </div>
	</div>